*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#064302;
    --secondary-color:#FF8552;
    --third-color:#E9D758;
    --heading-font:Arial, Helvetica, sans-serif;
    --font-body:Arial, Helvetica, sans-serif;
}

body{
    font-family: var(--font-body);
    color: var(--primary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    
}

nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img { 
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    position: absolute;
    top: 20px;              
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--primary-color);
    color: white;
}

.hero article img{
    float: right;
    width: 125px;
    margin: 10px;
    
}

.hero article{
    position: absolute;
    bottom: 20px;           
    left: 20px;             
    right: 20px;           
    padding: 20px;
    background-color: var(--primary-color);
    opacity: 0.9;
    color: white;
    clear: both;
    
}

section h2 {
    margin: 0;
    padding: 10px 0;
    width: 100%;
    display: block;
    color: #FFC568;
    background-color:#064302;
    text-align: center;
}